* {
    color: dimgrey;
    font-family: "Roboto", "Arial", "Helvetica", sans-serif;
    scroll-behavior: smooth;

}

body {
    padding: 7vh 0px 0px 0px;
    margin: 0;
    
}

/*TODO: I'm not happy with the formatting of the text and links in the header. They were done early in the project, and I am now more able to set them out sensibly. I should restart them, establishing a fixed height for the area, set proportions for their contents, and using padding and alignments instead of messily mixed margins and padding to space the contents. */

/* Top Nav Bar */


.top-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: solid 1px lavender;
}

.top-nav-bar ul {
    width: 100vw;
    font-size: 1.1em;
    list-style: none;
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 15px;
}

.top-nav-bar li {
    display: flex;
    flex-flow: row nowrap;
}

.top-nav-bar a {
    text-decoration: none;
}

/* End Top Nav Bar*------------------------------------------------------*/


/* Header */

header{
    height: 86vh;
    min-height: 86vh;
    width: 100vw;
    left: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
}


.hero {
    height: 50%;
    margin: 0;
    background-image: url("images/profile05.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 18vh 4vw 1.5vh 4vw;
}


/*
.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: end;
}
*/

.hero h1{
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 2.2em;
}

.hero h1.hero-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: end;
}

.hero span.hero-name {
    color: white;
}

.hero span.gummi {
    color: pink;
}

.hero span.code {
    color: lightcyan;
}


/*End Hero Image*/

/*Start Header Content*/

.header-content {
    height: 50%;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    min-height: 50%;
}

.header-text {
    margin: 0;
    height: auto;
    padding: 3vh 5vw 0vh 5vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

.header-text p {
    margin: 0;
    line-height: 120%;
    font-size: 1.2em;
    padding: 0vh 0vw 2vh 0vw;
    background-color: white;
    display: flex;
}

.punchy {
    font-weight: bold;
}

.header-text p.punchy {
    padding: 0;
}

.header-links {
    width: 100vw;
    height: 100%;
    padding: 0 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    /*Set the icon spacing*/
}

.header-links img {
    width: 18vw;
}

/* End Header Content*/

/* End Header --------------------------------------------------------------*/

/*Goto Bars & Goto Links*/

.goto-body {    
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

a.goto-bar {
    width: 100%;
    height: 100%;
    background-color: lavender;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.goto {
    position: relative;
    top: -7vh;
}

/*End Goto Bars & Goto Links -----------------------------------------------*/

/*Section: text-body*/

/* Full Sections */

.text-body{
    display: flex;
    flex-flow: column nowrap;
}


.section {
    height: 86vh;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

h3 {
    height: 7vh;
    margin: 0;
    background-color: whitesmoke;
    border: 1px solid lavender;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section-text {
    padding: 2vh 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    height: 83vh;

}

.section p {
    margin: 0;
    padding: 1vh 4vw 2vh 4vw;
    background-color: white;
}

/*End of Full Sections ---------------------------------------------------*/

/* Subsections */

h4 {
    margin: 0;
    padding: 1vh 4vw 0vh 4vw;
    font-size: 1.2em;
}




/*End of Subsections -----------------------------------------------------*/

/*Digital Art Section*/

.drawings {
    padding: 1vh 2vw 2vh 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;

}

.drawings img {
    /*TODO: MAke these imaes enlarge on click and window haze with dark grey. Include close button.*/
    width: 23%;
    border: 1px solid lavender;
    border-radius: 15pt;
}

/*End of Digital Art Section -----------------------------------------------*/

/* Contact Section */

#contact-me {
    height: 86vh
}

.footer-links {
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*Set the icon spacing*/
}
    
.footer-links img {
    width: 15vw;
}


.goto-end-desktop {
    display: none;
}

/* End of Contact Section ---------------------------------------------------*/


/* Media Queries*/

/*TODO: Learn how to deal with screen rotation.*/

/* Tablet Rules. Only imports when screen width is > 400px & <=960px. These rules take priority over conflicting mobile rules. */
@media only screen and (min-width: 601px) and (max-width: 960px) {

    
    /* Top Nav Bar */

    .top-nav-bar {
        height: 6vh;
    }

    ul.top-nav-links {
        padding: 0 5vw 0 5vw;
        justify-content: space-evenly;
    }

    .top-nav-links li {
        font-size: 1.8em;
    }

    /* End Top Nav Bar ----------------------------------------------------- */

    /* Body */

    body {
        padding: 6vh 0px 0px 0px;
    }

    /* End Body ------------------------------------------------------------ */


    /* Header: General */

    header{
        height: 88vh;
    }

    /*End Header: General ---------------------------------------------------*/

    /* Header: Hero Image*/

    .hero {
        height: 45%;
    }

    .hero h1 {
        font-size: 3.4em;
    }

    /* Header: Hero Image End ------------------------------------------------- */

    /* Header: Text */

    .header-content {
        height: 55%;
    }

    .header-text p {
        height: 60%;
        font-size: 2.0em;
    }

    /* Header: Text End ----------------------------------------------------- */

    /* Header: Links */

    .header-links {
        height: 100%;
        width: 80%;
        margin: 0px;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        /*Set the icon spacing*/
    }
    
    .header-links img {
        width: 16vw;
        max-width: 115px; 
    }

    /* Header: Links End ---------------------------------------------------- */

    /*Goto Bars & Goto Links*/

    .goto-body {
        height: 6vh;
    }

    .goto {
        position: relative;
        top: -6vh;
    }

    /*End Goto Bars & Goto Links -----------------------------------------------*/


    /* Full Sections */
.section {
    height: 88vh;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

h3 {
    height: 6vh;
    font-size: 2.0em;
}

.section-text {
    height: 82vh;
    padding: 4vw 6vw 4vw 6vw;
}

.section p {
    padding: 2vh 2vh 2vh 2vh;
    background-color: white;
    font-size: 1.6em;
}

/*End of Full Sections ---------------------------------------------------*/

/* Subsections */

h4 {
    padding: 2vh 2vh 0vh 2vh;
    font-size: 1.8em;
}

/*End of Subsections -----------------------------------------------------*/

/*Digital Art Section*/

.drawings {
    padding: 1vh 2vw 1vh 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;

}

.drawings img {
    /*TODO: MAke these imaes enlarge on click and window haze with dark grey. Include close button.*/
    width: 23%;
    border: 1px solid lavender;
    border-radius: 15pt;
}

/*End of Digital Art Section -----------------------------------------------*/

/* Contact Section */

#contact-me {
    height: 88vh
}

.footer-links {
    padding: 5vh 2vw 5vh 2vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*Set the icon spacing*/
}
    
.footer-links img {
    width: 18vw;
}


/* End of Contact Section ---------------------------------------------------*/

}

/* End of Tablet Media Query ----------------------------------------------- */



/*Desktop Rules. Only imports when screen width is >960px. These rules take priority over conflicting mobile and tablet rules. */
@media only screen and (min-width: 961px) {
  
  
/* General */

body {
    padding: 60px 0px 0px 0px;
    margin: 0;
    overflow-x: hidden;
    }

/* End General -----------------------------------------------------------*/

/* Top Nav Bar */

.top-nav-bar {
    height: 60px; 
    justify-content: left;
}

.top-nav-bar ul {
    margin: 0;
    padding: 10px 0px 10px 25px;
    font-size: 1.6em;
    justify-content: start;
}

.top-nav-bar li {
    padding: 0px 35px 0px 0px;
    margin: 0;
}


/* End Top Nav Bar*------------------------------------------------------*/

/* Header */

header{
    height: calc(100vh - 60px - 40px);
    min-height: calc(100vh - 60px - 40px);
    /*TODO: Despite the body having 60px padding, and the header height being 100vh-60px-40px (to account for the goto bar at the end of the section); the header does not fit  the screen vertically. Rectify. */
}

.hero {
/*  height:  calc(100vh - 60px - 210px - 40px); */
/*  max-height: calc(100vh - 60px - 210px - 40px); */
/*  margin: 0;  */
    height:  calc(100vh - 60px - 40px - 210px); 
/*  max-height: calc(100vh - 60px - 40px - 210px); */
    background-position: top 30% center;
/*  background-attachment: fixed; */
    justify-content: end;
/*  flex-grow: 1; */
    padding: 210px 60px 20px 40vw;
}

.hero h1{
    font-size: 5.6em;
}

.hero h1.hero-name {
    flex-flow: row wrap;
    justify-content: end;
}

#first-name {
    padding: 0 0.25em 0 0;
}

/*End Hero Image*/

/*Start Header Content*/

.header-content {
    height: 210px;
    min-height: 210px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
}

.header-text {
    width: 55vw;
    height: auto;
    padding: 20px 0vw 0vh 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
}

.header-text p {
/*  height: auto; */
    margin: 0;
    line-height: 120%;
    font-size: 1.6em;
    padding: 0vh 0vw 2vh 0vw;
    background-color: white;
    display: flex;
}

.punchy {
    font-weight: bold;
}

.header-text p.punchy {
    padding: 0;
}


.header-links {
    width: 30vw;
    max-width: 480px;
    height: auto;
    padding: 30px 60px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /*Set the icon spacing*/
}

.header-links a img {
    width: 8vw;
}

/* End Header Content*/

/* End Header --------------------------------------------------------------*/

/*Goto Bars & Goto Links: NULLIFIED*/

.goto-body {
    height: 60px;
    min-height: 40px;
    padding: 0 0 20px 0;
}

a.goto-bar {
    padding: 0 0 20px 0;
    margin: 0;
    width: 60px;
    height: 40px;
    background-color: white;
}

.goto {
    margin: 0;
    padding: 0;
    top: -60px;
}

.goto-mobile {
    display: none;
}

/*End Goto Bars & Goto Links -----------------------------------------------*/

/*Section: text-body*/

/* Full Sections */


.section { /* TODO: need to make this shrink to fit contents */
    background-color: white;
    display: flex;
    flex-basis: content;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding: 0 0 120px 0;
}

h3 {
    width: 600px;
    height: 65px;
    margin: 0;
    background-color: white;
    border: none;
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.section-text {
    width: 600px; /* TODO: need to make this shrink to fit contents */
    padding: 20px 0 0 0;
    display: flex;
    flex-basis: content;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    height: 83vh;

}

.section p {
    width: 500px;
    margin: 0;
    padding: 12px 0 12px 0;
    background-color: white;
}

/*End of Full Sections -----------

/* Subsections */


.subsection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.subsection:first-child h4 {
    padding: 20px 0 0 0;

}


h4 {
    width: 500px;
    padding: 40px 0 0 0;
    font-size: 1.4em;
}


.subsection p {
    padding: 10px 0px 0px 0px;
}


/*End of Subsections -----------------------------------------------------*/

/*Digital Art Section*/

.drawings {
    padding: 50px 0px 15px 0px;
    /*TODO: This section will need updatingonce we add more images. */
}

/*End of Digital Art Section -----------------------------------------------*/

/* Contact Section */


#contact-me {
    padding: 0;
    display: flex;
    flex-basis: content;
    flex-flow: column nowrap;
    justify-content: top;
    align-items: center;

}

.footer-links {
    width: 500px;
    height: 200px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lavender;
    margin: 0 0 50px 0;
}
    
.footer-links img {
    width: 100px;
}


.goto-end-desktop {
    display: flex;
/* End of Contact Section ---------------------------------------------------*/


}

/* End of Desktop Media Query ----------------------------------------------- */





/*              ~  end  ~              */